{
  "extends": [
    "himynameisdave/configurations/node",
    "himynameisdave/rules/jest/off"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-console": "off",
    "unicorn/prevent-abbreviations": ["error", {
      "replacements": {
        "rej": {
          "reject": true
        }
      }
    }]
  }
}
