{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "arrow-parens": 0,
    "import/newline-after-import": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "max-len": 0,
    "prefer-promise-reject-errors": 0,
    "import/no-dynamic-require": 1
  }
}
